<table class="table" style="margin-left:0px;">
    <thead>
      <tr>
        <th>Category</th>
        <th>Early Bird</th>
        <th>Normal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="competition">Young Researcher Competition (High School Students)</a></td>
        <td>$10</td>
        <td>$10</td>
      </tr>
      <tr>
        <td>Students* (with full paper/abstract)</td>
        <td>$25</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Early-Career Academic** (&lt;3 years of graduating, with full paper/abstract)</td>
        <td>$50</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Academic/Professional (with full paper/abstract)</td>
        <td>$75</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Remote Listener (without paper/abstract)</td>
        <td>$10</td>
        <td>$25</td>
      </tr>
    </tbody>
  </table>